---
- name: Include version variables
  include_vars: "v{{ liberty_version }}.yml"

- name: Check packages
  iim_info:
    iim_path: "{{ iim_install_path }}"
    product_id: "com.ibm.websphere.liberty.ND_{{ liberty_pid }}"
  register: iim_info

- name: Install Base version
  include_tasks: base_install.yml
  when: not iim_info.base_installed

- name: Install Fixpack version
  include_tasks: fixpack_install.yml
  vars:
    pack_id: "com.ibm.websphere.liberty.ND_{{ liberty_pid }}"
  when: not iim_info.exact_installed

- name: Install Java (iim way)
  include_tasks: fixpack_install.yml
  vars:
    liberty_fp_path: "{{ liberty_java_zip_path }}"
    pack_id: "{{ liberty_java_pid }}"
  when: (not iim_info.exact_installed) and ( jdk_installation_way is undefined )

- name: Download JDK (unzip way)
  get_url:
    dest: /tmp/jdk.zip
    url: "{{ download_url }}/{{ liberty_java_zip_path }}"
    headers: "{{ download_header | default('') }}"
  when: (download_url is defined) and ( jdk_installation_way is defined )

- name: Prepare Open JDK Folder (unzip way)
  file:
    path: "{{ liberty_install_path }}/java/{{ jdk_version }}"
    state: directory
    owner: root
    group: root
  when: jdk_installation_way is defined

- name: Install Java (unzip way)
  unarchive:
    src: /tmp/jdk.zip
    dest: "{{ liberty_install_path }}/java/{{ jdk_version }}"
    creates: "{{ liberty_install_path }}/java/{{ jdk_version }}/repository.config"
    extra_opts: [--strip-components=1]
    remote_src: yes
  when: jdk_installation_way is defined

- name: Create /opt/Props
  file:
    path: /opt/Props
    mode: 0755
    state: directory
  when: ansible_os_family != "Windows"

- name: Copy AppServer.properties
  template:
    dest: /opt/Props/AppServer.properties
    src: AppServer.properties.j2
    mode: 0644
    force: no

- name: Create environment files
  include_tasks: env.yml

- name: Render jvm.options
  template:
    src: jvm.options.j2
    dest: "{{ liberty_install_path }}/usr/shared/jvm.options"
    mode: 0644
