ansible
pywinrm
molecule==4.0.4
molecule-docker
docker
ansible-lint >= 5.1.1, < 6.0.0 # only for the prerun functionality
yamllint
passlib
jmespath
# Downgrade these while rest is incompatible
cython<3.0.0
pyyaml==6.0.1
pip-tools==7.1.0
Jinja2<3.0.0
MarkupSafe<2.0.0
