---
- name: Generate WLST domain creation script
  template:
    src: create_wls_domain.py.j2
    dest: "/tmp/create_wls_domain.py"
    owner: "{{ weblogic_user }}"
    group: "{{ weblogic_group }}"
    mode: '0644'

- name: Check if domain already exists
  stat:
    path: "{{ weblogic_home }}/user_projects/domains/{{ domain_name }}"
  register: domain_exists

- name: Create WebLogic domain
  command: "{{ weblogic_home }}/oracle_common/common/bin/wlst.sh /tmp/create_wls_domain.py"
  become: yes
  become_user: "{{ weblogic_user }}"
  when: not domain_exists.stat.exists

- name: Remove temporary WLST script
  file:
    path: "/tmp/create_wls_domain.py"
    state: absent
