input.db.type=DB2

input.db.username={{ db2_db_username }}
input.db.password={{ db2_db_password }}

input.db.dist.servername={{ ansible_fqdn }}
input.db.dist.serverport=50000
input.db.dist.name={{ db2_db_name }}

input.db.zos.servername=
input.db.zos.serverport=
input.db.zos.name=
input.db.zos.dbname=
input.db.zos.tablespace=
input.db.zos.encoding=
input.db.zos.cisuzjar=
