*-----------------------------------------------------
* Generated response file used by the DB2 Setup wizard
* generation time: 5/21/15 1:06 PM
*-----------------------------------------------------
*  Product Installation
LIC_AGREEMENT       = ACCEPT
PROD       = {{ db2_product }}
FILE       = {{ db2_install_path }}
INSTALL_TYPE       = TYPICAL
* ----------------------------------------------
*  Instance properties
* ----------------------------------------------
INSTANCE       = {{ instance_id }}
{{ instance_id }}.TYPE       = ese
*  Instance-owning user
{{ instance_id }}.NAME       = {{ db2_db_username }}
{{ instance_id }}.GROUP_NAME       = {{ db2_db_groupname }}
{{ instance_id }}.HOME_DIRECTORY       = /home/{{ db2_db_username }}
{{ instance_id }}.PASSWORD       = {{ db2_db_password }}
{{ instance_id }}.AUTOSTART       = YES
{{ instance_id }}.SVCENAME       = db2c_{{ db2_db_username }}
{{ instance_id }}.PORT_NUMBER       = {{ instance_port }}
{{ instance_id }}.MAX_LOGICAL_NODES       = 4
{{ instance_id }}.CONFIGURE_TEXT_SEARCH       = NO
*  Fenced user
{{ instance_id }}.FENCED_USERNAME       = {{ db2_fenced_username }}
{{ instance_id }}.FENCED_GROUP_NAME       = {{ db2_fenced_groupname }}
{{ instance_id }}.FENCED_HOME_DIRECTORY       = /home/{{ db2_fenced_username }}
{{ instance_id }}.FENCED_PASSWORD       = {{ db2_db_password }}
*-----------------------------------------------
*  Installed Languages
*-----------------------------------------------
LANG       = EN
