## APPLICATION SERVER PROPERTIES

## IT IS VERY IMPORTANT TO USE '/' FOR DIRECTORY PATHS. ##

# Property to indicate whether WLS or WAS was installed.
as.vendor=BEA

# The username and password for admin server.
security.username={{ domain_username }}
# Encrypt the plain-text password using 'build encrypt -Dpassword=<password>'
# Below is the encryption for the default password ("Password1")
security.password={{ encrypted_password }}

# The name of the WebSphere Node or WebLogic Domain Name.
node.name={{ ansible_hostname }}

# The name of the server on which the application will be hosted.
curam.server.name={{ server_name }}
curam.server.port={{ server_port }}

###############################################
## THE FOLLOWING PROPERTIES ARE FOR WLS ONLY ##
###############################################
# BEA Installation direction (NOT WLS installation directory)
bea.home={{ weblogic_home }}