readTemplate('{{ weblogic_home }}/wlserver/common/templates/wls/wls.jar')

cd('Security/base_domain/User/{{ domain_username }}')
cmo.setPassword('{{ domain_password }}')

setOption('DomainName', '{{ domain_name }}')

writeDomain('{{ weblogic_home }}/user_projects/domains/{{ domain_name }}')
closeTemplate()
exit()
