# Set the maximum heap size to {{ liberty_default_heapsize }}.
-Xmx{{ liberty_default_heapsize }}

# Set the min heap size to {{ liberty_default_heapsize }}.
-Xms{{ liberty_default_heapsize }}

{% if liberty_enable_verbose_gc %}
# Enable verbose garbage collection logs.
-verbose:gc
-Xverbosegclog:verbosegc.log
{% endif %}

{% for jvm_opt in liberty_extra_jvm_options %}
{{ jvm_opt }}
{% endfor %}
