CREATE ROLE "CURAM_SERVER";
GRANT RESOURCE TO "CURAM_SERVER";
{{ oracle_home }}/rdbms/admin/xaview.sql
GRANT SELECT ON V$XATRANS$ TO PUBLIC;
GRANT SELECT ON PENDING_TRANS$ TO PUBLIC;
GRANT SELECT ON DBA_2PC_PENDING TO PUBLIC;
GRANT SELECT ON DBA_PENDING_TRANSACTIONS TO PUBLIC;
GRANT EXECUTE ON DBMS_SYSTEM TO CURAM_SERVER;
CREATE USER {{ sql_username }} IDENTIFIED BY {{ sql_password }} DEFAULT TABLESPACE "USERS" TEMPORARY TABLESPACE "TEMP";
GRANT "CONNECT", "CURAM_SERVER", UNLIMITED TABLESPACE TO {{ sql_username }};
ALTER SYSTEM SET "_optimizer_ansi_join_lateral_enhance"=false;
ALTER SYSTEM SET DDL_LOCK_TIMEOUT=30;
ALTER SYSTEM SET NLS_LENGTH_SEMANTICS="CHAR";
ALTER SYSTEM SET EVENTS '44951 TRACE NAME CONTEXT FOREVER, LEVEL 1024';
quit;
