[Unit]
Description=Oracle HTTP Server service

[Service]
User={{ ohs_user }}
Group={{ ohs_group }}
Environment="ORACLE_HOME={{ ohs_home }}"
ExecStart=/usr/local/bin/startNodeManager.sh
ExecStop=/usr/local/bin/stopNodeManager.sh
Restart=always

[Install]
WantedBy=default.target
