[Unit]
Description=Oracle HTTP Server service

[Service]
User={{ ohs_user }}
Group={{ ohs_group }}
Environment="ORACLE_HOME={{ ohs_home }}"
ExecStart=/opt/oracle/startNodeManager.sh
ExecStop=/opt/oracle/stopNodeManager.sh
Restart=always

[Install]
WantedBy=default.target
