###############################################################################
# Copyright 2017,2020 IBM Corporation
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
###############################################################################
#
# Custom Static Content config file
#

Alias /CuramStatic/ "{{ ihs_install_path }}/htdocs/WebContent/"
<Directory "{{ ihs_install_path }}/htdocs/WebContent">
    Options Indexes MultiViews
    AllowOverride None
    #Order allow,deny
    Require all granted
</Directory>

<LocationMatch /(Curam|CuramStatic)>
    ExpiresActive On
    ExpiresByType text/css "access plus 1 month"
    ExpiresByType text/javascript "access plus 1 month"
    ExpiresByType text/plain "access plus 1 month"
    ExpiresByType image/gif "access plus 1 month"
    ExpiresByType image/jpg "access plus 1 month"
    ExpiresByType image/png "access plus 1 month"
    ExpiresByType application/x-shockwave-flash "access plus 1 month"
    ExpiresByType application/x-javascript "access plus 1 month"
    Header unset Last-Modified
</LocationMatch>
